<%- include('../../includes/header.ejs',{data: headerMenu}) %>
<section class="max-w-screen-xl mx-auto container">
<%- include('../../includes/breadcrumb.ejs', {breads: ['Shop']}) %>
    <div class=" flex flex-row flex-wrap gap-4">
        contact Us
    </div>
</section>
<%- include('../../includes/footer.ejs') %>