<%- include('../../includes/header.ejs') %>
    <section class="add-product">
        <h1>ADD PRODUCT</h1>
        <form method="POST" action="#">
            <input type="text" name="title" placeholder="add Product...">
            <textarea name="description" placeholder="add description..."></textarea>
            <input type="number" name="price" placeholder="add price...">
            <input type="text" name="brand" placeholder="add brand...">
            <input type="text" name="category" placeholder="add category...">
            <input type="text" name="comments" placeholder="add comments...">
            <input type="text" name="attribute" placeholder="add attribute...">
            <input type="text" name="thumbnail" placeholder="add thumbnail...">
            <button type="submit">add</button>
        </form>
    </section>
<%- include('../../includes/footer.ejs') %>